INGEST_API_URL=http://localhost:3000
COLLECTOR_KEY=
CLIENT_ID=
LOG_LEVEL=INFO
CHECK_TIMEOUT_SECONDS=6

ENABLE_DEVICE_MONITOR=1
ENABLE_STREAMING=1
ENABLE_RTSP_MONITOR=0
ENABLE_ONVIF_COLLECTOR=1
ENABLE_DISCOVERY=1
ENABLE_AGENT_API=1
ENABLE_AI_ANALYTICS=0
ENABLE_TRAY=0
ENABLE_RECORDING=0
AGENT_ID=

DEVICE_INTERVAL_SECONDS=10
DEVICE_WORKERS=30

REMOTE_REFRESH_SECONDS=60
DEFAULT_TIMEOUT_SECONDS=8
DEFAULT_INTERVAL_SECONDS=30

EDGE_REFRESH_SECONDS=10
EDGE_FLUSH_SECONDS=5
EDGE_NOTIFY_LOG=0
EDGE_EVENT_DEDUPE_SECONDS=600
EDGE_VIDEOLOSS_CONFIRM_SECONDS=15
EDGE_RECOVERY_CONFIRM_SECONDS=10
EDGE_VIDEOLOSS_MIN_SECONDS=30
EDGE_NOTIFY_RECOVERY=0
EDGE_SUPPRESS_EVENT_TYPES=
EDGE_START_MEDIAMTX=1
STREAM_RESTART_COOLDOWN_SECONDS=60
STREAM_FORCE_TRANSCODE=0
STREAM_MAX_RETRIES=0
STREAM_RETRY_MAX_BACKOFF_SECONDS=60
TWILIO_WHATSAPP_NUMBER=
TWILIO_CONTENT_SID=

ONVIF_REMOTE=1
PULL_TIMEOUT_SECONDS=10
MESSAGE_LIMIT=10
RECONNECT_SECONDS=5

DISCOVERY_INTERVAL_SECONDS=300
DISCOVERY_MAX_HOSTS=512
DISCOVERY_WORKERS=120
DISCOVERY_PING_TIMEOUT_MS=700
DISCOVERY_PORT_TIMEOUT_S=0.25
DISCOVERY_PORTS=80,443,554,22,161,8080,8000,3000,8899
DISCOVERY_ONVIF_WS=1
DISCOVERY_WS_TIMEOUT_SECONDS=2
DISCOVERY_REQUIRE_PING=0
DISCOVERY_RESOLVE_DNS=1
DISCOVERY_INCLUDE_SELF=0
DISCOVERY_SUBNETS=

AGENT_API_BIND=127.0.0.1
AGENT_API_PORT=8808
EDGE_USE_PYTHONW=1
RECORD_BASE_DIR=
RECORD_SEGMENT_SECONDS=10
RECORD_REFRESH_SECONDS=60
CAMERA_DISCOVERY_AUTO_PUSH=1
CAMERA_REMOTE_CREDS=1
CAMERA_DEFAULT_USER=admin
CAMERA_DEFAULT_PASS=
CAMERA_SCAN_TIMEOUT=6
CAMERA_SCAN_WORKERS=32
CAMERA_MAX_CRED_TRIES=2

AI_MODEL=yolov8n.pt
AI_CLASSES=person,car,motorcycle
AI_CONF_THRESHOLD=0.6
AI_IMAGE_SIZE=640
AI_FRAME_EVERY_SECONDS=1.0
AI_EVENT_COOLDOWN_SECONDS=120
AI_SEND_SNAPSHOT=0
AI_SNAPSHOT_MAX_WIDTH=640
AI_SNAPSHOT_JPEG_QUALITY=75
AI_SNAPSHOT_MAX_BYTES=400000
AI_SOURCE_URL_TEMPLATE=rtsp://127.0.0.1:8554/{stream_key}
AI_DEVICE_IDS=
AI_SEVERITY_MAP=person=warn,car=info,motorcycle=info,bus=info,truck=info
AI_EVENT_PREFIX=ai_
AI_EVENT_SUFFIX=_detected
AI_GROUP_HUMAN_CLASSES=person
AI_GROUP_VEHICLE_CLASSES=car,motorcycle,bus,truck
AI_CONFIRM_FRAMES=2
AI_CONFIRM_WINDOW_SECONDS=2.0
AI_RECONNECT_BACKOFF_SECONDS=5
AI_LOOP_SLEEP_SECONDS=0.2
AI_DEBUG_EVERY_SECONDS=10
AI_DEBUG_LOG=0
